[Unit]
Description=Beryllium OS News Update Service
After=network.target
Wants=network.target

[Service]
ExecStart=/usr/bin/beryllium-news-server
Restart=always
RestartSec=5
Nice=19
IOSchedulingClass=idle
Type=simple

[Install]
WantedBy=default.target
